body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef2f7;
}

.home {
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 16px;
}

.header {
  text-align: center;
  margin-bottom: 32px;
}

.header h1 {
  font-size: 2.5em;
  margin: 0;
}

.header h2 {
  font-size: 1.5em;
  margin: 0;
  color: #555;
}

.event-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.event-column {
  flex: 1;
  min-width: 250px;
  margin: 0 10px;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-column h3 {
  text-align: center;
  margin-bottom: 16px;
}

.event-column h2 {
  text-align: center;
  margin-bottom: 16px;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-card {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
  margin-top: 0;
}

.event-card p {
  margin: 8px 0;
}

.event-card a {
  color: #007bff;
  text-decoration: none;
}

.event-card a:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 768px) {
  .event-columns {
    flex-direction: column;
  }

  .event-column {
    margin: 10px 0;
  }
}